# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
/server/node_modules/
/client/node_modules/
/client/build/
dist-ssr
*.local
.env
/server/.env.server
/server/node_modules/.package-lock.json
/server/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
